<div id="<%= dom_id article %>">
  <p>
    <strong>ชื่อเรื่อง:</strong>
    <%= article.title %>
  </p> 

  <p>
    <strong>เนื้อหา:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>ผู้เขียน:</strong>
    <%= article.author %>
  </p>

</div>
