<% content_for :title, "Editing article" %>

<h1>แก้ไขบทความ</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "แสดงบทความนี้", @article %> |
  <%= link_to "กลับสู่รายการบทความ", articles_path %>
</div>
