<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<h1>บทความ</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "แสดงบทความ", article %>
    </p>
  <% end %>
</div>

<%= link_to "สร้างบทความใหม่", new_article_path %>
