/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 strong {
   font-weight: bold;
   color: rgb(230, 154, 33);
 }
 .text {
    color: orange;
    font-weight: bold;
    margin-bottom: 5px;
}
.button {
    padding: 7px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    margin-bottom: 5px;
}